body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, table {font-size:8px}
body,html {height:100%}

.mo .fa:before {right:15px}
.left.down.wht {width:50%}
.bg1 .wrap > .sttl {margin-bottom:20px}
.cont1,.cont2 {height:50%;padding:0}
.cont1 .wrap {height:100%;width:320px;margin:0 auto;padding:100px 10px;}
.cont2 .wrap {height:100%;width:320px;margin:0 auto;padding:100px 10px;}
.wrap > .ttl {padding-left:20px}
.cont1 .ttl2 {padding-left:20px;letter-spacing:0px;}
.wrap > .sttl:before {margin-right:10px}
.cont1 .ttl3 {padding-left:20px;letter-spacing:2.5px}
.cont1 .btn {margin-left:20px}
.btn:before {left:0;opacity:1}
.cont2 .wrap > .ttl {padding-left:20px}
.cont2 .list1 {width:92%;margin:25px 0 0 6.3%}
.cont2 .list2 {width:92%;margin:25px 0 0 6.3%}
.cont2 .btn {margin-left:20px}
.wrap {padding:50px 10px;}
.cont3 .wlist {padding:20px 0 20px 0}
.cont3 .wrap > .sttl {margin-bottom:20px}
.wlist > div {width:49.5%;margin:5px 0 0 0}
.wlist > div:nth-child(even) {margin-left:.5%}
.wlist > div:nth-child(odd) {margin-right:.5%}
.wlist .hover {display:block;opacity:1 !important}
.list_sns {top:20px;right:20px}
.list_sns > div a img {width:40px;height:auto}
.info {padding-left:20px}
.info .ttl {margin:20px 0 40px 0}
.btn_top {right:20px}
#ft {line-height:50px}
.wlist > div .img {cursor:pointer}
.wlist .hover {border:none;background-color:rgba(0,0,0,.6);color:#fff;height:auto;top:inherit;bottom:0;padding:3% 0;box-sizing:content-box}
@-webkit-keyframes fadein {
	0% {opacity:1}
	100% {opacity:1}
}
@keyframes fadein {
	0% {opacity:1}
	100% {opacity:1}
}
@-moz-keyframes fadein {
	0% {opacity:1}
	100% {opacity:1}
}